* {
    transition: .2s ease-in-out;
}
.new-chat{
    cursor: pointer;
}

.sidebar-content .chat-item {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: 11pt;
    transition: .5s ease-in-out;
}

  .sidebar-header {
    flex-shrink: 0;
  }
  
  .sidebar-footer {
    flex-shrink: 0;
    /* position: fixed; */
    bottom: 0;
  }
  
  
  .sidebar-content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .sidebar-content::-webkit-scrollbar-track {
    background: #0F1E46; /* Background of the scrollbar track */
  }
  
  .sidebar-content::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid #0F1E46; /* Padding around the scrollbar thumb */
  }
  
  /* For Firefox */
  .sidebar-content {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #0F1E46;
  }
  